/PowerBI-EntendendoAsFormulasDAX-Aula1-Material.zip
/PowerBI-EntendendoAsFormulasDAX-Aula2-Material.zip
/PowerBI-EntendendoAsFormulasDAX-Aula3-Material.zip
/PowerBI-EntendendoAsFormulasDAX-Aula4-Material.zip
/PowerBI-EntendendoAsFormulasDAX-Aula5-Material.zip